aspy.yaml==1.3.0
astor==0.8.0
atomicwrites==1.1.5
attrs==18.1.0
bleach==3.1.0
certifi==2018.4.16
cfgv==2.0.0
chardet==3.0.4
click==6.7
codecov==2.0.15
colorama==0.4.1
coverage==4.5.1
Cython==0.29.14
docutils==0.14
gitdb2==2.0.5
GitPython==2.1.11
identify==1.4.5
idna==2.7
importlib-metadata==0.18
importlib-resources==1.0.2
invoke==0.11.1
#mdtraj==1.9.3
more-itertools==4.2.0
ndebug==0.1.0
nodeenv==1.3.3
numpy==1.17.4
pkginfo==1.5.0.1
pluggy==0.6.0
pre-commit==1.17.0
py==1.5.4
Pygments==2.4.2
pyparsing==2.4.5
pytest==3.6.3
pytest-cov==2.5.1
python-semantic-release==4.1.1
PyYAML==5.1.1
readme-renderer==24.0
requests==2.21.0
requests-toolbelt==0.9.1
scipy==1.3.2
semver==2.8.1
six==1.11.0
smmap2==2.0.5
toml==0.10.0
tqdm==4.32.2
twine==1.13.0
urllib3==1.23
virtualenv==16.6.2
webencodings==0.5.1
zipp==0.5.2
